type hal_bluetooth_ti_uim, domain;
type hal_bluetooth_ti_uim_exec, exec_type, vendor_file_type, file_type;

hal_server_domain(hal_bluetooth_ti_uim, hal_bluetooth)

init_daemon_domain(hal_bluetooth_ti_uim)
